:host {
    flex-grow: 1;
    padding: 0;
}

#items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 4rem;
    margin-bottom: 4rem;
    padding: 0 10%;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin: 2rem 0 2rem 0;
}

.card:hover {
    transform: scale(1.1);
    color: black;
    border-bottom: 2px solid black;
}
